.stats{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}
.stats__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}